@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --text-color: rgb(35, 35, 35);
    --bg-color: rgb(250, 250, 250);
    --block-color: rgb(255, 255, 255);
    --border-color: rgb(222, 226, 230);
    --option-block-color: rgb(240, 244, 255);
}

[data-theme="dark"] {
    --bg-color: rgb(33, 37, 41);
    --block-color: rgb(43, 48, 53);
    --border-color: rgb(73, 80, 87);
    --text-color: rgb(222, 226, 230);
    --option-block-color: rgb(74, 81, 100);
}

#app {
    width: 100vw;
    height: 100svh;

    display: grid;
    grid-gap: 15px;
    justify-items: center;
    grid-template-rows: auto max-content;

    padding: 25px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.horizontal-line {
    height: 1px;
    border: none;
    background-color: var(--border-color);
}

.accounts__list {
    width: 55%;
    min-width: max-content;

    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, max-content) auto;

    padding: 25px;
    border-radius: 15px;
    background-color: var(--block-color);
}

.list__header {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, max-content);
}

.list__header_title {
    font-size: 24px;
    font-weight: 600;
}

.accounts__table {
    width: 100%;
    height: auto;

    display: grid;
    grid-gap: 10px;
    grid-template-rows: max-content auto;
}

.table_row {
    width: 100%;
    height: max-content;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 60px 220px auto 60px;

    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--border-color);

    position: relative;
}

.table__header {
    border: none;
    background-color: var(--option-block-color);
}

.account-checkbox {
    cursor: pointer;
    accent-color: rgb(58, 0, 255);
}

.options {
    display: grid;
}

.options svg {
    cursor: pointer;

    width: 16px;
    height: 16px;

    fill: var(--text-color);
}

.dialog_winodw {
    top: 0;
    right: 0;
    position: absolute;

    padding: 20px;
    border-radius: 15px;
    background-color: var(--block-color);

    display: none;
    grid-gap: 7px;
}

.delete-accoutn-btn {
    color: rgb(146, 28, 28);
}

.divider {
    height: max-content;

    width: 55%;
    min-width: max-content;

    display: grid;
    grid-gap: 10px;

    padding: 25px;
    border-radius: 15px;
    background-color: var(--block-color);
}

.message__input {
    width: 100%;

    border: none;
    padding: 12px;
    border-radius: 15px;
    background-color: var(--bg-color);

    font-size: 14px;
}

.preview-buttons {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, max-content);
}

.preview {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.voice-preview {
    display: none;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(2, max-content);

    padding: 10px;
    border-radius: 15px;
    background: var(--option-block-color);
}

.voice-preview.active {
    display: grid;
}

.voice-preview .filename {
    font-size: 13px;
    color: var(--text-color);
}

.voice-preview svg {
    width: 15px;
    height: 15px;

    fill: rgb(210, 64, 64);
}

.buttons {
    display: grid;
    grid-gap: 15px;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
}

button {
    cursor: pointer;
    padding: 10px 16px;

    border: none;
    border-radius: 99px;

    color: white;
    background-color: rgb(58, 0, 255);

    font-size: 13px;
}

.menu__container {
    position: absolute;
    top: 25px;
    right: 25px;

    display: grid;
    grid-gap: 5px;
}

.menu-toggle {
    cursor: pointer;

    width: 24px;
    height: 24px;

    fill: var(--text-color);

    display: grid;
    justify-self: end;
}

.main-menu {
    padding: 30px;

    display: grid;
    grid-gap: 20px;

    border-radius: 15px;
    background-color: var(--block-color);
}

.main-menu.hidden {
    display: none;
}

.menu__item {
    cursor: pointer;
}

.svg-icon {
    cursor: pointer;

    width: 18px;
    height: 18px;

    fill: var(--text-color);
}

.mb-10 {
    margin-bottom: 10px;
}